@model HU_HDP.Models.AcademicUnit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AcademicUnit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AcademicUnitId" />
            <div class="form-group">
                <label asp-for="AcademicUnitType" class="control-label"></label>
                <input asp-for="AcademicUnitType" class="form-control" />
                <span asp-validation-for="AcademicUnitType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicUnitName" class="control-label"></label>
                <input asp-for="AcademicUnitName" class="form-control" />
                <span asp-validation-for="AcademicUnitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicUnitAcronym" class="control-label"></label>
                <input asp-for="AcademicUnitAcronym" class="form-control" />
                <span asp-validation-for="AcademicUnitAcronym" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
